YOUTUBE_API_KEY=
YOUTUBE_CHANNEL_ID=UCk3-zIWTjiK_XICSSxkVwIw

# Riot Games API (solo servidor)
RIOT_API_KEY=
RIOT_GAME_NAME=Tidusss
RIOT_TAG_LINE=FFX
RIOT_PLATFORM_ROUTE=euw1
RIOT_REGIONAL_ROUTE=europe

# Twitch (solo servidor)
TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
TWITCH_USER_LOGIN=tidussstwitch
